body {
    color: chartreuse;
    background-color: black;

    margin: 30px;
}

.instrukce-odkaz {
    color: chartreuse;
    text-decoration: none;
}

.lekce-okno {
  display: none;
  border: 1rem solid rgb(90, 90, 90);
  background-color: rgb(145, 145, 145);
}

footer {
    text-align: center;
}
